/*资产中心*/
.asster{
  width: 100%;
  height: 800px;
  background-color: #f5f5f5;
  overflow: hidden;
}
.asster_c{
  width: 1024px;
  height: 100%;
  margin: 0 auto;
 /* background-color: #fff;*/
}
.asster_c h5{
  width: 1024px;
  height: 60px;
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  margin-top: 40px;
}
.asster_mc{
  width: 150px;
  height: 620px;
  float: left;
  background-color: #fff;
  margin-top: 30px;
}
.asset_btc{
  width: 150px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border-bottom: 1px solid #eee;
  
}
.asset_zcmc{
  background-color: #ffcc66;
  color: #fff;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;
}
.asset_btc img{
  width: 28px;
  height: 28px;
  margin-left: -25px;
}
.asset_btc a{
  height: 28px;
  vertical-align: middle;
  display: inline-block;
  margin-top: -5px;
  margin-left: -6px;
}
.asset_mx{
  width: 840px;
  float: right;
  background-color: #fff;
  margin-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.asset_mx_c{
  width: 750px;
  /*height: 100px;*/
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}
.asset_mx_c h6{
  font-size: 16px;
  font-weight: bold;
  height: 38px;
  line-height: 38px;
  margin-top: 30px;
}
.com_ass_sousuo{
  width: 450px;
  overflow: hidden;
}
.asset_mx_c input{
  width: 300px;
  border: 1px solid #e2e2e2;
  height: 30px;
  background-image: url(../images/搜索.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position:5px center;
  padding:0 0 0 40px;
  color: #e2e2e2;
}
.com_asset_seach{
  width: 78px;
  height: 30px;
  background: #ffcc66;
  color: #fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  display: inline-block;
  margin-left: -4px;
  border: 1px solid #ffcc66;
  margin-top: -2px;
}
.com_input:-moz-placeholder {
    color: #e2e2e2; 
}
.com_input:-ms-input-placeholder{
    color: #e2e2e2;
}
.com_input::-webkit-input-placeholder{
    color: #e2e2e2;
}
.asset-m-ch{
	background:#ccc;
	color:#fff;
}
.com_table{
  width: 750px;
  margin: 0 auto;
  border:1px solid #ccc;
  border-bottom: none;
 
}
.com_table ul{
  border-bottom: 1px solid #ccc;
}

.com_table ul li:last-child {
  border-bottom: none;  
}
 
.com_table ul li{
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #878e9e;
  border-bottom: 1px solid #ddd;  
  cursor:pointer;
}

.asset_jil{
  width: 750px;
  margin: 0 auto;
}
.asset_jil h6{
  font-size: 15px;
  font-weight: bold;
  height: 38px;
  line-height: 38px;
}
/*.asset_jil .com_chong{
  width: 75px;
  height: 35px;
  border-radius: 5px;
  background-color: #ffcc66;
  margin-right: 20px;
  color: #fff;
  cursor: pointer;
}*/
.asset_yi{
  width: 753px;
  height: 40px;
  margin: 0 auto;
}

.asset_yi ul{
  background: #e9eaec;
  display: flex;
  justify-content: space-around;
  /*border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;*/
}
.asset_yi ul li{
  height: 40px;
  line-height: 40px;
}
.asset_yi ul li{
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #878e9e;
}
.asset_table{
  width: 750px;
  margin: 0 auto;
  /*border-bottom: 1px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 1px solid #ccc;*/
  
}
.asset_table ul:nth-child(even) {
  background: #e9eaec;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
   overflow: hidden;
  
}
.asset_table ul li:nth-child(even) {
  width: 106px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #878e9e;
  border-right: 1px solid #ddd ;
 overflow: hidden;  
}
.asset_table ul:nth-child(odd) {
  display: flex;
  justify-content: space-around;
  background: #fefefe;
  border-bottom: 1px solid #ccc;
   overflow: hidden;
  
}
.asset_table ul li:nth-child(odd) {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #7b7983;
  border-right: 1px solid #ddd;
   overflow: hidden;
  
}
.asset_table ul li:last-child {
  border-right: none;  
   overflow: hidden;
}
.asset_fenye{
  width: 750px;
  height: 40px;
  margin: 0 auto;

}
.asset_fenye ul{
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  float: right;
}
.asset_fenye ul li{
  width: 70px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
