<div class="home-mn" ng-controller="AuditEdDetailController">
	<header class="home-page-header">
		<img class="left-img" src="images/back.png" ng-click="goback()">
		<span class="center">
			百度公司路况已审核
		</span>
		<span class="right detail">
			
		</span>
	</header>
	<section class="home-sct">
		<div class="b-d">
			<div class="b-d-t">
				时间:8天
			</div>
			<div class="b-d-t">
				报酬：<span>￥0.2/张</span>
			</div>
			<div class="b-d-t">
				要求：快，准，狠
			</div>
			<div class="b-d-t">
				图片类型：分类，汽车
			</div>
			<div class="b-d-t">
				描述:汽车行业的路况原始图片。
			</div>
			<div class="b-d-t">
				需要标注的图片列表
			</div>
			<div class="b-d-u">
				<img src="images/banner.jpg"  ng-click="showBigImage(item)" />
				<img src="images/banner.jpg"  ng-click="showBigImage(item)" />
				<img src="images/banner.jpg"  ng-click="showBigImage(item)"/>
				<img src="images/banner.jpg"  ng-click="showBigImage(item)"/>
				<img src="images/banner.jpg"  ng-click="showBigImage(item)"/>
				<img src="images/banner.jpg"  ng-click="showBigImage(item)"/>
				<img src="images/banner.jpg"  ng-click="showBigImage(item)"/>
				<img src="images/banner.jpg"  ng-click="showBigImage(item)"/>
				<img src="images/banner.jpg"  ng-click="showBigImage(item)"/>
				<img src="images/banner.jpg"  ng-click="showBigImage(item)"/>
				<img src="images/banner.jpg"  ng-click="showBigImage(item)"/>
				<img src="images/banner.jpg"  ng-click="showBigImage(item)"/>
			</div>
		</div>
		<div class="hide">
			<img src="images/u142.png" class="hd-img" ng-click="closeDialog()" />
			<div class="hd-tl">
				02图片
			</div>
			<div class="hd-ct">
				
			</div>
		</div>
	</section>
	
</div>