<link rel="stylesheet" type="text/css" href="css/forget_password_reset.css">
<div class="banner_bj" ng-controller="FundController">
	<div class="regis_c">
		<h5>{{ 'SET_FUND_PASSWORD' | translate }}</h5>
		<div class="regis_emil">
			<input type="password" ng-model="resetParam.fundpassword" placeholder="{{ 'ENTY_FUND_PASSWORD' | translate }}">
		</div>
		<div class="regis_emil">
			<input type="password" ng-model="resetParam.repassword" placeholder="{{ 'ENTY_FUND_PASSWORD_AGAIN' | translate }}">
		</div>
		<p class="forget_errmsg">{{ conParam.errormsg | translate }}</p>
		<div class="forget_button">
			<button ng-click="setFundPaasword()" ng-disabled="conParam.bt_disable" >{{ 'FUND_SET' | translate }}</button>
		</div>
		
	</div>
</div>