<link rel="stylesheet" type="text/css" href="css/forget_password_reset.css">
<div class="banner_bj" ng-controller="ForgetController">
	<div class="regis_c">
		<h5>{{ 'RESET_PASSWORD' | translate }}</h5>
		<div class="regis_emil">
			<input type="password" ng-model="resetParam.password" placeholder="{{ 'ENTY_NEW_PASSWORD' | translate }}">
		</div>
		<div class="regis_emil">
			<input type="password" ng-model="resetParam.repassword" placeholder="{{ 'ENTY_NEW_PASSWORD_AGAIN' | translate }}">
		</div>
		<p class="forget_errmsg">{{ conParam.errormsg | translate }}</p>
		<div class="forget_button">
			<button ng-click="reset()" >{{ 'RESET_NEW_PASSWORD' | translate }}</button>
		</div>
		
	</div>
</div>