<link rel="stylesheet" type="text/css" href="css/forget_password.css">
<div class="banner_bj" ng-controller="ForgetController">
	<div class="regis_c">
		<h5>{{ 'FORGET_PASSWORD' | translate }}</h5>
		<div class="regis_emil">
			<input type="text" ng-model="user.email" placeholder="{{ 'ENTY_EAMIL' | translate }}"/>
		</div>
		<p class="forget_errmsg">{{ conParam.errormsg | translate }}</p>
		<div class="forget_button ">
			<button ng-click="registerSubmit()" >{{ 'SEND_PSW_BUTTON' | translate }}</button>
		</div>
		
	</div>
</div>
